<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
      
         
    <!--  For admin login -->
	<servlet>
		<servlet-name>adminLogin</servlet-name>
		<servlet-class>com.admin.adminServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>adminLogin</servlet-name>
		<url-pattern>/admin</url-pattern>
	</servlet-mapping>
         
    <!--  For admin show details -->
	<servlet>
		<servlet-name>adminInfo</servlet-name>
		<servlet-class>com.admin.adminInfoServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>adminInfo</servlet-name>
		<url-pattern>/adminInfo</url-pattern>
	</servlet-mapping>
	
	
	
         
    <!--  For retrieve hall -->
	<servlet>
		<servlet-name>hallNames</servlet-name>
		<servlet-class>com.hallDetails.hallServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>hallNames</servlet-name>
		<url-pattern>/halls</url-pattern>
	</servlet-mapping>
	
	<!-- For create hall -->
	<servlet>
		<servlet-name>createHall</servlet-name>
		<servlet-class>com.hallDetails.createHallServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>createHall</servlet-name>
		<url-pattern>/insertHall</url-pattern>
	</servlet-mapping>
	
	<!-- For update hall -->
	<servlet>
		<servlet-name>updateHall</servlet-name>
		<servlet-class>com.hallDetails.updateHallServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>updateHall</servlet-name>
		<url-pattern>/updateHall</url-pattern>
	</servlet-mapping>
	
	<!-- For delete hall -->
	<servlet>
		<servlet-name>deleteHall</servlet-name>
		<servlet-class>com.hallDetails.deleteHallServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>deleteHall</servlet-name>
		<url-pattern>/deleteHall</url-pattern>
	</servlet-mapping>
	
	
	
</web-app>